<body style="background-color:rgb(246, 253, 207)">
    <h4 style="margin-left: 10px;"><a title={{mostrar_mas}} href="#" (click)="mostrarOcultar()">{{mensaje_enlace}} Cursos</a></h4>
    <div class="container" style="padding: 10px;" *ngIf= "mostrar">
        <h3><li>Administrador de Base de Datos Oracle 10g. (Fundación Proydesa)</li></h3><hr>
        <h3><li>Genexus (Instituto Superior Jujuy Digital)</li></h3><hr>
        <h3><li>Reparador de PC Avanzado (Instituto Superior Jujuy Digital)</li></h3><hr>
        <h3><li>Instalación y configuración de discos rígidos (Instituto Superior Jujuy)</li></h3><hr>
        <h3><li>Seminario de e-learning, informática y diseño gráfico. (Inst. Superior Jujuy Digital)</li></h3><hr>
        <h3><li> Lenguaje HTML – Diseño de Sitios WEB (Primera parte). (Instituto Superior Jujuy)</li></h3><hr>
        <h3><li> Tecnología, Innovación y Derechos Intelectuales. (Escuela de Gobierno)</li></h3><hr>
        <h3><li> Gestión de Expedientes. (IPAP)</li></h3><hr>
        <h3><li> Redacción de documentos administrativos. (IPAP)</li></h3><hr>
        <h3><li> Photoshop. (IPAP)</li></h3><hr>
        <h3><li> Argentina Programa: #SeProgramar (Argentina Programa)</li></h3>
    </div>
</body>
