<body style="background-color:rgb(246, 253, 207);">
    <footer class="pt-4 pb-4 text-center bg-light;">
        <div class="container">
          <div class="my-3">
            <div class="h4">Eduardo Rubén Lazarte</div>
            <p>Analista en sistemas - Desarrollador Web Fullstack Jr.</p>
            <div class="social-nav">
              <nav role="navigation">
       
              </nav>
            </div>
          </div>
          <div class="text-small text-secondary">
            <div class="mb-1">&copy; Portafolios. Derechos Reservados.</div>
          </div> 
        </div>
    </footer>
        

</body>
