<html style="background-color:rgb(246, 253, 207)">

<body>


        <div>
           <div class= "container1" style="background-color:rgba(0, 0, 0, 0.5); position:fixed; width:100%;">
                <div class="col-10"><img src="assets/arg_prog.png" alt="" style="width:120px; height:80px; position:relative;"><h3 style="transform: translateX(-30%) translateY(-170%);">Portafolios</h3>
                <h3 style="transform: translateX(60%) translateY(-290%);">Iniciar Sesión</h3></div>
           </div>
           <img src="assets/binario.jpg" alt="*">
           <img src="assets/yo.jpg" alt="*" id="mifoto"> 
        </div>

        
    


</body>
</html>

