<body style="background-color:rgb(246, 253, 207)">
    <h4 style="margin-left: 10px;"><a title={{mostrar_mas}} href="#" (click)="mostrarOcultar()">{{mensaje_enlace}} Historial Laboral</a></h4>
    <div class="container" style="padding: 10px;" *ngIf= "mostrar">
    <table>
        <tbody>
            <tr>
                <h3><li>Hospital Materno Infantil</li></h3>
                <img src="assets/logo_hospital.jpg" alt="*" id="logo">
                <td>
                    <h4><ul><li>Reemplazo en Recursos Humanos como Administrativo.</li></ul></h4>
                    <h4><ul><li> desde Octubre de 2011 hasta Diciembre de 2011</li></ul></h4>
                    <h4><ul><li> desde Abril de 2012 hasta Mayo de 2012</li></ul></h4>
                    <h4><ul><li> desde Septiembre de 2013 hasta marzo de 2014</li></ul></h4>
                    <h4><ul><li><u>Tareas</u>: Gestión de Expediente Documental y de Pago de todo el personal reemplazante del hospital.</li></ul></h4>
        
                </td>
          
            </tr><hr>
    
    
            <tr>
                <h3><li>Correo Argentino S.A.</li></h3>
                <img src="assets/correo.jpg" alt="*" id="logo">
                <td>
                    <h4><ul><li>Eventual Administrativo.</li></ul></h4>
                    <h4><ul><li> desde Enero de 2012 hasta Septiembre de 2013</li></ul></h4>
                    <h4><ul><li> Afectado por elecciones P. A. S. O. del 11/08/13 envío de telegramas mediante sistema DCR</li></ul></h4>
                    <h4><ul><li><u>Tareas</u>: Diversas tareas administrativas.</li></ul></h4>
                </td>
            </tr><hr>
    
            <tr>
                <h3><li>Colegio Médico de Jujuy</li></h3>
                <img src="assets/colegio-medico.jpg" alt="*" id="logo">
                <td>
                    <h4><ul><li>Reemplazo Administrativo Facturación.</li></ul></h4>
                    <h4><ul><li> desde Diciembre de 2015 a Marzo de 2016</li></ul></h4>
                    <h4><ul><li><u>Tareas</u>: Facturación de prestaciones medicas: consultas y prácticas.</li></ul></h4>
                </td>
            </tr><hr>
    
        <tr>
            <h3><li>Inmobiliaria Remax NOA II</li></h3>
            <img src="assets/remax.jfif" alt="*" id="logo">
            <td>
                <h4><ul><li>Administrativo.</li></ul></h4>
                <h4><ul><li> desde Abril de 2017 hasta Junio de 2017</li></ul></h4>
                <h4><ul><li><u>Tareas</u>: Secretario de agente Top Producer Jorge Villar.</li></ul></h4>
            </td>
        </tr><hr>
        
    
        <tr>
            <h3><li>Clinica Mayo S.A.</li></h3>
            <img src="assets/clinica_mayo.jpg" alt="*" id="logo">
            <td>
                <h4><ul><li>Facturador.</li></ul></h4>
                <h4><ul><li> Julio de 2017 hasta junio de 2021</li></ul></h4>
                <h4><ul><li><u>Tareas</u>: Facturación Sanatorial. Manejo de nomenclador nacional, NBU, facturas.</li></ul></h4>
            </td>
        </tr><hr>
    
        <tr>   
            <h3><li> BRAMED S.R.L.</li></h3>
            <img src="assets/bramed.jfif" alt="*" id="logo">
            <td>  
                <h4><ul><li>administrativo-facturación auditoria de prestaciones médicas.</li></ul></h4>
                <h4><ul><li>Desde septiembre de 2021 hasta diciembre de 2021.</li></ul></h4>
                <h4><ul><li><u>Tareas</u>: Auditoria de prestaciones médicas, manejo de nomenclador nacional, NBU.</li></ul></h4>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</body>
